- name: Disable current nodejs module.
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enabling the Node.js 18 module.
  ansible.builtin.shell: dnf module enable nodejs:18 -y

- name: Installing Node.js.
  ansible.builtin.dnf:
    name: nodejs
    state: present

- name: Import task from app-prerequisites.yml
  ansible.builtin.import_tasks: app-prerequisites.yml

#- name: Downloading application dependencies from package.json.
#  ansible.builtin.shell: npm install
#  args:
#    chdir: /app

- name: Import task from schema_setup.yml
  ansible.builtin.import_tasks: schema_setup.yml
  when: schema_type is defined

- name: Import task from systemd_setup.yml
  ansible.builtin.import_tasks: systemd_setup.yml

- name: Setup Filebeat.
  ansible.builtin.import_role:
    name: elk
    tasks_from: filebeat.yml