- name: Creating the {{component}} application service file.
  ansible.builtin.template:
    src: "{{component}}.service"
    dest: /etc/systemd/system/{{component}}.service

- name: Enabling and restarting the {{component}} application service.
  ansible.builtin.systemd_service:
    name: "{{component}}.service"
    state: restarted
    enabled: true
    daemon-reload: true